<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="px-4 py-6 sm:px-0">
    <%= render "shared/breadcrumbs", items: [
      { label: "Family Members", path: family_members_path },
      { label: "Family Member ##{@family_member.id}", path: family_member_path(@family_member) },
      { label: "Edit" }
    ] %>

    <%= render "form", family_member: @family_member %>
  </div>
</div>
