<div id="<%= dom_id user_relationship %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= user_relationship.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Related user:</strong>
    <%= user_relationship.related_user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Relationship type:</strong>
    <%= user_relationship.relationship_type %>
  </div>
</div>
