<h1>Reset Your Password</h1>

<p>Hi <%= @user.first_name.presence || @user.email %>,</p>

<p>A password reset has been requested for your account. Click the link below to set a new password:</p>

<p>
  <%= link_to "Reset My Password", @confirmation_url %>
</p>

<p>This link will expire in 24 hours.</p>

<p>If you didn't request this password reset, you can safely ignore this email.</p>

<p>
  Thanks,<br>
  The High Aspirations Team
</p>
