<% content_for :title, "Editing event log" %>

<div class="md:w-2/3 w-full">
  <%= render "shared/breadcrumbs", items: [
    { label: "Event Logs", path: event_logs_path },
    { label: "Event Log ##{@event_log.id}", path: event_log_path(@event_log) },
    { label: "Edit" }
  ] %>

  <%= render "form", event_log: @event_log %>
</div>
