<% content_for :title, "New event log" %>

<div class="md:w-2/3 w-full">
  <%= render "shared/breadcrumbs", items: [
    { label: "Event Logs", path: event_logs_path },
    { label: "New Event Log" }
  ] %>

  <%= render "form", event_log: @event_log %>
</div>
