<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="px-4 py-6 sm:px-0">
    <%= render "shared/breadcrumbs", items: [
      { label: "Events", path: events_path },
      { label: "New Event" }
    ] %>

    <%= render "form", event: @event %>
  </div>
</div>
