<% content_for :title, "Editing event registration" %>

<div class="md:w-2/3 w-full">
  <%= render "shared/breadcrumbs", items: [
    { label: "Event Registrations", path: event_registrations_path },
    { label: "Registration ##{@event_registration.id}", path: event_registration_path(@event_registration) },
    { label: "Edit" }
  ] %>

  <%= render "form", event_registration: @event_registration %>
</div>
