<% content_for :title, "New event registration" %>

<div class="md:w-2/3 w-full">
  <%= render "shared/breadcrumbs", items: [
    { label: "Event Registrations", path: event_registrations_path },
    { label: "New Registration" }
  ] %>

  <%= render "form", event_registration: @event_registration %>
</div>
