<div class="max-w-2xl mx-auto px-4 pb-12" data-controller="seas-form">
  <% step = params[:step] %>

  <% if step.blank? || step == "0" %>
    <%= render "welcome" %>
  <% elsif step == "review" %>
    <%= render "pre_complete" %>
  <% else %>
    <%= render "domain_form" %>
  <% end %>
</div>
