<div id="<%= dom_id event_type %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= event_type.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Point value:</strong>
    <%= event_type.point_value %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Category:</strong>
    <%= event_type.category %>
  </div>
</div>
