<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="px-4 py-6 sm:px-0">
    <%= render "shared/breadcrumbs", items: [
      { label: "Event Types", path: event_types_path },
      { label: @event_type.name, path: event_type_path(@event_type) },
      { label: "Edit" }
    ] %>

    <%= render "form", event_type: @event_type %>
  </div>
</div>
